@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* -------------------------------------------------------- GLOBAL STYLES -------------------------------------------------------------- */

:root {
    --background-white: #fafafa;
    --title-font: 'Exo 2', sans-serif;
    --nav-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --text-font: "Jost", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    background-color: var(--background-white);
}


/* -------------------------------------------------------- HEADER -------------------------------------------------------------- */

header {
    font-family: var(--nav-font);
    background-color: var(--background-white);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    padding: 0 3rem;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.logo {
    height: 3rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.nav-list li a {
    color: black;
    font-size: 1.1rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
}

/* Genera una linea debajo de cada enlace a otra pagina del nav */
.nav-list li a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px; 
    background-color: black; 
    transition: width 0.3s ease-in-out;
}

.nav-list li a:hover::after {
    width: 100%;
}

.abrir-menu,
.cerrar-menu {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 700px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: none;
        background: none;
        font-size: 2rem;
    }

    .cerrar-menu {
        margin-right: 2rem;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--background-white);
        padding: 2rem 1rem 2rem 2rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 0 0 0 0.4rem;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

}


/* -------------------------------------------------------- FOOTER -------------------------------------------------------------- */

footer {
    font-family: var(--title-font);
    background-color: #1f1f1f;
    color: #eeeeee;
    padding: 0.5rem 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mention {
    display: flex;
    align-items: center;
}

.mention a {
    padding-left: 5px;
}

.mention img{
    height: 0.8rem;
}

footer div a {
    color: #eeeeee;
    padding-left: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
}