body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #cecece;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #ffffff;

}

.logo {
    max-width: 4rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

nav ul li a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a:hover {
    text-decoration: underline;
}

.menu-toggle, .close-menu {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    /*nav {
        display: none;
    }

    .menu-toggle {
        display: block;
    }*/

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #ffffff;
        padding: 1rem;
    }

    nav ul {
        flex-direction: column;
        align-items: end;
    }
    
}


/* -------------------------------------------CONTENT--------------------------------------------------- */

.content {
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}



/* -------------------------------------------FOOTER--------------------------------------------------- */