* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #fafafa;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    padding: 0 3rem;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.logo {
    height: 3rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.nav-list li a {
    color: black;
    font-size: 1.1rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-list li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

.abrir-menu,
.cerrar-menu {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 700px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: none;
        background: none;
        font-size: 2rem;
    }

    .cerrar-menu {
        margin-right: 2rem;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #fafafa;
        padding: 2rem 1rem 2rem 2rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 0 0 0 0.4rem;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

}


/* -------------------------------------------FOOTER--------------------------------------------------- */

footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #1f1f1f;
    color: #fafafa;
    padding: 0.5rem 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    color: #eeeeee;
    padding-left: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
}