.content {
    background-image: url('../images/contact background.jpg');
    background-position: center;
    background-size: cover;
    height: calc(100vh - 39px);
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.content h1 {
    font-family: var(--title-font);
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.text1, .text2 {
    font-family: var(--text-font);
    font-weight: 400;
    font-size: 1.1rem;
    text-align: start;
    width: 60%;
}

.text2 {
    font-weight: 600;
}

.text2 a {
    text-decoration: none;
    position: relative;
    color: inherit;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

/* Pone una linea debajo del enlace al correo en el texto 2 */
.text2 a::after {
    content: '';
    position: absolute;
    bottom: -1px; 
    left: 0;
    width: 100%;
    height: 2px; 
    background-color: currentColor;
    transition: background-color 0.3s ease-in-out;
}

/* Cambia el color del enlace y la línea al pasar el ratón */
.text2 a:hover {
    color: #474544;
}
.text2 a:hover::after {
    background-color: #474544; 
}

.content form {
    width: 60%;
}

/* Hace que los input name y number esten en la misma linea */
.flex {
    display: flex;
    justify-content: space-between;
}

.name {
    width: 45%;
}

.number {
    width: 45%;
}

.email{
    width: 100%;
}

.subject {
    width: 100%;
}

.message {
    float: none;
}

input,
textarea {
    font-family: var(--nav-font);
    background: none;
    border: none;
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 1rem 0 0.6rem 0;
    border-bottom: solid 1px #474544;
    color: #474544;
    font-size: 1rem;
    letter-spacing: 1px;
    overflow: auto;
    resize: none;
}

/* Cambia el color de la linea debajo de cada casilla de texto */
input:focus,
textarea:focus {
    outline: none;
    border-bottom: solid 1px #000000;
}

/* Cuando se clica en una casilla para introducir texto desaparece el placeholder */
input:focus::placeholder,
textarea:focus::placeholder {
    color: transparent;
    transition: all 0.3s ease-in-out;
}

.submit input{
    font-family: var(--nav-font);
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    background: none;
    border: none;
    padding: 20px 35px;
    color: #474544;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
}

/* El boton de enviar cambia de color */
.submit input:hover {
    background: #474544;
    color: #F2F3EB;
}

.input-container {
    position: relative;
}

.error p {
    font-family: var(--text-font);
    font-size: 1rem;
    position: absolute;
    bottom: 0;
}