@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100..900&display=swap');

/* -------------------------------------------CONTENT--------------------------------------------------- */

body {
    background-image: url('../images/george-pagan-iii-dDmU72yV7g0-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed
}

.content {
    background-color: #fafafa;
    width: 80%;
    padding: 2rem;
    margin: 7rem auto;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.content h1 {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2.4rem;
    padding: 0 0 1rem 2rem;
    word-spacing: 2px;
    margin: 0;
}


.gallery-img {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.gallery-img:hover {
    transform: scale(1.01);
    transition: all 0.2s ease-in-out;
    filter: brightness(0.8);
}

.row {
    display: flex;
    margin-bottom: 25px;
}

.column {
    flex: 50%;
    padding: 0.5rem;
    flex-wrap: wrap;
    flex-grow: var();
}

@media screen and (max-width: 1080px) {
    .column {
        flex: 50%;
    }
    
}