.content {
    background-image: url('../images/sucias-manchas-de-pintura-blanca.jpg');
    height: 100vh;
}

.login {
    background-color: #808080;
    width: 100%;
    height: 2rem;
    margin-top: 5rem;
}

.login ul {
    width: 100%;
    height: 2rem;
    padding: 0 3rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.login ul li {
    list-style: none;
    font-family: var(--nav-font);
}

.login ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}

.login ul li a:hover {
    color: #1068ec;
    transition: all 0.2s ease;
}

.login .profile {
    display: none;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    background-color: #ffffff;
}