
body {
    background-image: url('../images/backgrounds/shop.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding-top: 5rem;
}


/* -------------------------------------------CONTENT--------------------------------------------------- */

.content {
    background-color: #fafafa;
    width: 80%;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-height: 85vh;
}


/* ------------ Title ------------ */

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title h1 {
    font-family: var(--title-font);
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2.4rem;
    padding: 0 0 1rem 2rem;
    word-spacing: 2px;
    margin: 0;
}

.title button {
    background-color: #1f1f1f;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 2rem 1rem 0; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.title button:hover {
    background-color: #333333;
}



/* ------------------------------ SHOWCASE ------------------------------ */

.items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Diseño responsivo */
    gap: 1rem;
    padding: 1rem;
}

.items a {
    text-decoration: none;
    color: inherit; /* Hereda el color del texto */
}

.item-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shop-item {
    background-color: #fafafa;
    width: 100%;
    padding: 1rem;
    height: auto;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.shop-item:hover {
    transform: scale(1.02); /* Efecto de zoom al pasar el ratón */
}

.shop-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.shop-item h4 {
    font-family: var(--text-font);
    font-size: 1.1rem;
}

.shop-item p {
    font-family: var(--text-font);
    font-size: 1rem;
    color: #333;
}