
body {
    /* background-image: url('../images/sucias-manchas-de-pintura-blanca.jpg'); */
    background-size: cover;
    background-attachment: fixed;
    padding-top: 5rem;
}

.content {
    background-color: #fafafa;
    width: 80%;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* ------------------------------ TITLE ------------------------------ */
.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title h1 {
    font-family: var(--title-font);
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2.4rem;
    padding: 0 0 1rem 2rem;
    word-spacing: 2px;
    margin: 0;
}

.title button {
    background-color: #1f1f1f;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 2rem 1rem 0; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.title button:hover {
    background-color: #333333;
}

.admin {
    opacity: 0;
    visibility: hidden;
}

/* ------------------------------ SHOWCASE ------------------------------ */


.items {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1rem;
    gap: 1rem;
}

.shop-item {
    width: 100%;
    height: auto;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
