
body {
    background-image: url('../../images/backgrounds/shop.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding-top: 5rem;
}


/* -------------------------------------------CONTENT--------------------------------------------------- */

.content {
    min-height: calc(100vh - 2rem - 80px - 39px);
}

.item {
    background-color: #fafafa;
    width: 60%;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* ------------ Links ------------ */

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.back-link {
    text-decoration: none;
    color: #1f1f1f;
    font-family: var(--text-font);
    font-size: 1.1rem;
    font-weight: bold;
    position: relative;
    margin-bottom: 25px;
}

/* Genera una linea debajo de cada enlace a otra pagina del nav */
.back-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px; 
    background-color: black; 
    transition: width 0.3s ease-in-out;
}

.back-link:hover::after {
    width: 100%;
}

.links button {
    font-family: var(--text-font);
    font-size: 1.1rem;
    background-color: #1f1f1f;
    color: #ffffff;
    border: none;
    padding: 0.3rem 0.9rem;
    margin: 0 2rem 1rem 0; 
    border-radius: 5px;
    cursor: pointer;
}

.links button:hover {
    background-color: #333333;
}


/* ------------ Form ------------ */

.item form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.form-inputs {
    width: 100%;
    font-family: var(--nav-font);
    background: #f3f3f3;
    border: none;
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 1rem 0 0.6rem 0;
    border-bottom: solid 1px #474544;
    color: #474544;
    font-size: 1rem;
    letter-spacing: 1px;
    overflow: auto;
    resize: none;
    padding-left: 1rem;
    border-radius: 10px 10px 0 0;
}

.form-inputs::placeholder {
    text-transform: uppercase;
}

.form-inputs:focus {
    outline: none;
    border-bottom: solid 1px #000000;
}

.form-inputs:focus::placeholder {
    color: transparent;
    transition: all 0.3s ease-in-out;
}


.submit-btn{
    font-family: var(--nav-font);
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    background: none;
    border: none;
    padding: 20px 35px;
    color: #474544;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
}

.image-text {
    font-family: var(--text-font);
    font-size: 1rem;
    color: #474544;
}

.image-preview {
    max-width: 200px;
    max-height: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.submit-btn:hover {
    background: #474544;
    color: #F2F3EB;
}

.form-group {
    position: relative;
    width: 100%;
}

.error p {
    font-family: var(--text-font);
    font-size: 1rem;
    position: absolute;
    color: red;
    bottom: 0;
}

